<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>passby registration</title>
  <!--&#91;if lt IE 9&#93;>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <!&#91;endif&#93;-->
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/api_accessor.js"></script>
</head>
<body>
  <h1>すれ違い登録</h1>

  <form action="">
    <p><label for="file">CSV：</label>
    <input type="file" name="file" id="csvfile" required></p>

    <p><input type="button" name="submit" onclick="registPassby()" value="送信"></p>
  </form>
</body>
</html>